<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Kanji App - Kanji Pronunciation Assistance</a>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Item Heading -->
      <h1 class="my-4">

		  <% if(errors != undefined){ %>
		  <small>Errors: 
			<ul>
			<% errors.forEach(function(error){ %>
				<%= error.msg %>
			<% }) %>
			</ul> 
		  </small>
		  <% } %>
      </h1>

      <!-- Item Row -->
      <div class="row">

        <div class="col-md-8">
		    <canvas id="myCanvas" width="800" height="800" >
			<img id="image" src="<%= UserImage.filepath %>" />
			</canvas>
        </div>

        <div class="col-md-4">
		<h3 class="my-3">Select an image</h3>
		<!-- Form and Buttons --> 
	  
		<form action="/translate" method="post" enctype="multipart/form-data">
		  <input type="file" name="image" id="fileToUpload" ><br><br>
		  <input type="submit" value="Upload Image" name="submit" class="btn btn-secondary">

			  <h3 class="my-3">Detected Text</h3>
			  <p><%= UserImage.textDetections %></p>
			  <h3 class="my-3">Kanji Pronunciations</h3>
			  <ul>
				<li><%= UserImage.textPronunciation %></li>
			  </ul>
			</div>

		  </div>

		</div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Ai-Network 2018 - CS130</p>
      </div>
      <!-- /.container -->
    </footer>
  
  <!-- draw bounding boxes on image -->
  <script>
  window.onload = function() {
  var c=document.getElementById("myCanvas");
  var ctx=c.getContext("2d");
  var img=document.getElementById("image");  
  ctx.drawImage(img,img.clientWidth,img.clientHeight);  
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  var box = <%- JSON.stringify(boundingBoxes) %>;
  context.beginPath();
  for (i = 1; i < box.length; i++) {  
	context.rect(box[i][0].x, box[i][0].y, box[i][2].x - box[i][0].x, box[i][2].y - box[i][0].y)
	context.fillStyle = "rgba(255, 255, 255, 0)";
	context.fill();
	context.lineWidth = 4;
	context.strokeStyle = "blue";
	context.stroke();	
	}
  }
  </script> 

</body>
</html>
