<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<!-- set text highlighting to be yellow highlights -->
<style>
mark {
    background-color: yellow;
    color: black;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#">Kanji App - Kanji Reading Assistance</a>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container-fluid">

      <!-- Item Heading -->
      <h1 class="mb-3 exception-font">
		  <% if(errors != undefined){ %>
			<% errors.forEach(function(error){ %>
			<div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
				<strong>Error!</strong> <%= error.msg %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<% }) %>
		  <% } %>
		  
		  <% if(UserImage.textDetections.length > 5 ){ %>
			<div class="alert alert-warning alert-dismissible fade show m-4" role="alert">
				<strong>Warning!</strong> There seems to be a lot of kanji in your image! We may have some trouble providing a good reading.
											Try uploading a simpler image with less kanji to get a better reading.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		  <% } %>
      </h1>

      <!-- Item Row -->
      <div class="row">
		<div class="col-md-auto mx-sm-auto my-5">
            <canvas id="myCanvas" width="600" height="600" >
			<img id="image" src="<%= encodeURI(UserImage.filename) %>" />

			</canvas>
        </div>

        <div class="float-md-right limit-width mx-sm-auto my-5">
			<div class="card border-secondary">
				<div class="card-body">
					<h3 class="card-title">Select an image</h3>
					<!-- Form and Buttons --> 
					<form action="/translate" method="post" enctype="multipart/form-data">
					  <input type="file" name="image" id="fileToUpload" ><br><br>
					  <input type="submit" value="Upload Image" name="submit" class="btn btn-secondary">
				</div>
			</div>
					
			<div class="card border-secondary">
				<div class="card-body ">
					<h3 class="card-title"> Detected Text </h3>
						<!-- {# <ul class="list-group list-group-flush scroll-box " id="textDetections"> -->
							<!-- <% var detMax = UserImage.textDetections.length %> -->
							<!-- <% var detIdx = 0 %> -->
							<!-- <% while (detIdx < detMax) { %> -->
								<!-- <li class="list-group-item"><%= UserImage.textDetections[detIdx] %> </li> -->
							<!-- <%detIdx=detIdx+1%> -->
							<!-- <%}%> -->
						<!-- </ul> #} -->
						
						<ul class="list-group list-group-flush" id="textDetections">
								<li class="list-group-item"><%= UserImage.textDetections %> </li>
						</ul>
				</div>
			</div>
			
			<div class="card border-secondary">
				<div class="card-body">
					<h3 class="card-title"> Kanji Readings </h3>
					<ul class="list-group list-group-flush" id="textPronunciation">
						<li class="list-group-item"><%= UserImage.textPronunciation %> </li>
					</ul>
				</div>
			</div>
	    </div>

	  </div>

	</div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 footer text-faded text-center">
      <div class="container">
        <p class="m-0 text-center text-white">Ai-Network 2018 - CS130</p>
      </div>
      <!-- /.container -->
    </footer>
  
  <!-- draw bounding boxes on image, and set up highlighting -->
  <script>
  
  window.onload = function() {
  
    //draw rectangles on canvas over bounding boxes
    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");
	var img=document.getElementById("image"); 
	console.log("src front end: " + img.getAttribute("src"));
	
	var hRatio = c.width / img.width    ;
	var vRatio = c.height / img.height  ;
	var ratio  = Math.min ( hRatio, vRatio );
	ctx.drawImage(img, 0,0, img.width, img.height, 0,0,img.width*ratio, img.height*ratio);

    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');
    var box = <%- JSON.stringify(boundingBoxes) %>;
    context.beginPath();
    for (i = 0; i < box.length; i++) {  
	
		var x1 = box[i][0].x * ratio;
		var x2 = box[i][2].x * ratio;
		var y1 = box[i][0].y * ratio;
		var y2 = box[i][2].y * ratio;
		context.rect(x1, y1, x2 - x1, y2 - y1);
		
		context.fillStyle = "rgba(255, 255, 255, 0)";
		context.fill();
		context.lineWidth = 3;
		context.strokeStyle = "blue";
		context.stroke();	
	}
	
	//on mouse move, detect if it is over one of the rectangles
	//if it is, then highlight the corresponding texts on the detection and pronunciation
	canvas.onmousemove = function(e) {
	  var rect = this.getBoundingClientRect(),
	    x = e.clientX - rect.left,
		y = e.clientY - rect.top,
		i = 0, r;
		
	  var textDetections = <%- JSON.stringify(UserImage.textDetectionsList) %>;
	  var textPronunciations = <%- JSON.stringify(UserImage.textPronunciationList) %>;

	  for (i = 0; i < box.length; i++) {
	    context.beginPath();
		
		var x1 = box[i][0].x * ratio;
		var x2 = box[i][2].x * ratio;
		var y1 = box[i][0].y * ratio;
		var y2 = box[i][2].y * ratio;
		context.rect(x1, y1, x2 - x1, y2 - y1);
		if ( context.isPointInPath(x,y)) {
		  highlight(textDetections[i], "detections");
		  highlight(textPronunciations[i], "pronounciations");
		}
	  }
	}
	
	//insert a highlight tag into the corresponding innerHTML
	function highlight(text, type) {
	  var inputText;
	  var innerHTML;
	  if (type == "detections"){
		inputText = document.getElementById("textDetections");
		innerHTML = <%- JSON.stringify(UserImage.textDetections) %>;
	  }
	  else if (type == "pronounciations") {
	    inputText = document.getElementById("textPronunciation");
		innerHTML = <%- JSON.stringify(UserImage.textPronunciation) %>;
	  }
	  else {
	    return;
	  }
	  	  
      var index = innerHTML.indexOf(text);
   	  if ( index >= 0 )
      { 
        innerHTML = innerHTML.substring(0,index) + "<mark>" + innerHTML.substring(index,index+text.length) + "</mark>" + innerHTML.substring(index + text.length);
        inputText.innerHTML = innerHTML; 
      }
    }
  };


 //  }

</script>
</body>
</html>
